<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1. ročník</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="h-screen">
    <div class="flex flex-col items-center w-screen h-1/2 justify-center">
    <h1 class="text-2xl font-bold">1. ročník</h1>
    <ul class="flex flex-col justify-center items-center border border-gray-950 border-solid p-5 mt-2">
        <li class="hover:text-blue-500 duration-300 font-bold text-lg"><a href="/1rocnik/Matematika.pdf">Matematika</a></li>
        <li class="hover:text-blue-500 duration-300 font-bold text-lg"><a href="/1rocnik/CeskyJazyk.pdf">Český jazyk</a></li>
        <li class="hover:text-blue-500 duration-300 font-bold text-lg"><a href="/1rocnik/AnglickyJazyk.pdf">Anglický jazyk</a></li>
        <li class="hover:text-blue-500 duration-300 font-bold text-lg"><a href="/1rocnik/Dejepis.pdf">Dějepis</a></li>
        <li class="hover:text-blue-500 duration-300 font-bold text-lg"><a href="/1rocnik/Fyzika.pdf">Fyzika</a></li>
        <li class="hover:text-blue-500 duration-300 font-bold text-lg"><a href="/1rocnik/Matematika_vzorce.pdf">Matematika vzorce</a></li>
    </ul>
    </div>
</body>
</html>